@media screen 
    and (max-width: 1200px) {
    .quoteFont {
      color: black;
      font-size: 12px;
      font-style: italic;
      padding: 40px 10px 10px 10px
    }
    .authorFont {
      color: black;
    }
  }
  
@media screen 
    and (min-device-width: 1200px) 
    and (max-width: 2000px) {
    .quoteFont {
      color: black;
      font-style: italic;
      padding: 40px 200px 20px 200px
    }
    .authorFont {
      color: black;
    }
  }